<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="stylesheet" href="/layout/css/main.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header__top row">
          <div class="header__top--logo">
            <a href="#">
              <img src="/layout/image/header/logo.png" alt="Logo" />
            </a>
          </div>
          <div class="header__top--searchBar">
            <input type="search" placeholder="Nhập từ khóa tìm kiếm" />
            <span class="icon--search">
              <i class="bx bx-search"></i>
            </span>
          </div>
          <div class="header__top--user">
            <a href="#">ĐĂNG KÝ</a>
            <span class="line">|</span>
            <a href="#">ĐĂNG NHẬP</a>
            <span class="shopping--cart">
              <i class="bx bx-cart-alt"></i>
              <span>0</span>
            </span>
          </div>
        </div>
        <div class="header__bottom row">
          <div class="menu__cate">
            <p onclick="toggleSubMenu()">
              <span><i class="bx bx-menu"></i></span>
              <span>DANH MỤC SẢN PHẨM</span>
            </p>
            <ul class="submenu">
              <li>
                <a href="#"><i class="bx bxs-chevron-right"></i> GIƯỜNG</a>
              </li>
              <li>
                <a href="#"><i class="bx bxs-chevron-right"></i> SOFA</a>
              </li>
              <li>
                <a href="#"><i class="bx bxs-chevron-right"></i> ARMCHAIR</a>
              </li>
              <li>
                <a href="#"><i class="bx bxs-chevron-right"></i> BÀN ĂN</a>
              </li>
              <li>
                <a href="#"><i class="bx bxs-chevron-right"></i> GHẾ ĂN</a>
              </li>
            </ul>
          </div>
          <div class="menu__main">
            <ul>
              <li><a href="#">TRANG CHỦ</a></li>
              <li><a href="#">GIỚI THIỆU</a></li>
              <li>
                <a href="#">SẢN PHẨM <i class="bx bxs-chevron-down"></i></a>
                <ul class="submenu">
                  <li><a href="#">SOFA</a></li>
                  <li><a href="#">BÀN ĂN</a></li>
                  <li><a href="#">GIƯỜNG</a></li>
                  <li><a href="#">ARMCHAIR</a></li>
                  <li><a href="#">GHẾ ĂN</a></li>
                </ul>
              </li>
              <li><a href="#">TIN TỨC</a></li>
              <li><a href="#">LIÊN HỆ</a></li>
            </ul>
          </div>
          <div class="hotline">
            <span><i class="bx bx-headphone"></i></span>
            <span>Hotline:</span>
            <span>09xxxxxxxx</span>
          </div>
        </div>
      </div>
    </header>

<main>
    <div class="banner">
      <section class="title">
        <p>Ten San pham</p>
        <ul class="breadcrumb">
          <li>
            <a href="">Trang chu</a>
            <span>></span>
          </li>
          <li>
            <a href="">Danh muc</a>
            <span>></span>
          </li>
          <li>
            <a href="">Ten san pham</a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container_detail">
      <div class="row_detail">
        <div class="left_col">
          <div class="main_image">
            <img src="/layout/image/detail/1.jpg" alt="">
          </div>
          <div class="others_image">
            <img src="/layout/image/detail/1.0.jpg" alt="">
            <img src="/layout/image/detail/1.1.jpg" alt="">
          </div>
        </div>
        <div class="right_col">
          <h1>Ten san pham</h1>
          <div class="info_product">
            <div class="price_box">
              <span>Gia SP</span>
            </div>
            <div class="info_box">
              <p>Kích thước:</p>
              <span>H75 x D120 x R50</span>
              <p>Chất liệu: </p>
              <span>Gỗ MDF chống ẩm</span>
              <p>Màu sắc: </p>
              <span>Đen, trắng</span>
            </div>
          </div>
          <div class="form_product">
            <div class="quantity">
              <span>Số lượng:</span>
              <div class="quantity_button">
                <button class="decrease">-</button>
                <button class="quantity_number" value="1">1</button>
                <button class="increase">+</button>
              </div>
            </div>
            <div class="submit_button">
              <button type="submit">Thêm vào giỏ hàng</button>
            </div>
            <p>Gọi đặt mua trực tiếp: 09xxxxxxxx</p>
          </div>   
        </div>
      </div>
    </div>
  
    <div class="container_comment">
      <div class="row_comment">
          <div class="comment">
              <h2>Bình luận</h2>
          </div>
          <div class="content">
              <div class="comment_item">
                  <div class="comment_header">
                      <span class="username">User1</span>
                      <span class="time">2 giờ trước</span>
                  </div>
                  <p class="comment_text">Đây là một bình luận mẫu.</p>
              </div>
              <div class="comment_item">
                  <div class="comment_header">
                      <span class="username">User2</span>
                      <span class="time">3 giờ trước</span>
                  </div>
                  <p class="comment_text">Bình luận này rất thú vị!</p>
              </div>
          </div>
      </div>
  </div>

  <div class="product__list container row">
    <div class="related_product">
      <h1>Các sản phẩm liên quan</h1>
    </div>
    <div class="product__box">
      <div class="product__image">
        <img src="https://placehold.co/600x400" alt="Product Image" />
        <div class="product__icons">
          <i class="bx bx-show"></i>
          <i class="bx bx-cart-alt"></i>
        </div>
      </div>
      <div class="product__details">
        <h3 class="product__name">Product Name</h3>
        <p class="product__price">460,000<span>đ</span></p>
      </div>
    </div>

    <div class="product__box">
      <div class="product__image">
        <img src="https://placehold.co/600x400" alt="Product Image" />
        <div class="product__icons">
          <i class="bx bx-show"></i>
          <i class="bx bx-cart-alt"></i>
        </div>
      </div>
      <div class="product__details">
        <h3 class="product__name">Product Name</h3>
        <p class="product__price">460,000<span>đ</span></p>
      </div>
    </div>

    <div class="product__box">
      <div class="product__image">
        <img src="https://placehold.co/600x400" alt="Product Image" />
        <div class="product__icons">
          <i class="bx bx-show"></i>
          <i class="bx bx-cart-alt"></i>
        </div>
      </div>
      <div class="product__details">
        <h3 class="product__name">Product Name</h3>
        <p class="product__price">460,000<span>đ</span></p>
      </div>
    </div>

    <div class="product__box">
      <div class="product__image">
        <img src="https://placehold.co/600x400" alt="Product Image" />
        <div class="product__icons">
          <i class="bx bx-show"></i>
          <i class="bx bx-cart-alt"></i>
        </div>
      </div>
      <div class="product__details">
        <h3 class="product__name">Product Name</h3>
        <p class="product__price">460,000<span>đ</span></p>
      </div>
    </div>
  </div>
  
</main>


<footer>
    <div class="policy__content">
      <div class="container">
        <div class="policy__list">
          <div class="policy__item">
            <span class="img__policy">
              <img src="layout/image/footer/policy1.webp" alt="" />
            </span>
            <div class="title__policy">
              <span>Giao hàng miễn phí</span>
              <p>Với đơn trên 300.000đ</p>
            </div>
          </div>
          <div class="policy__item">
            <span class="img__policy">
              <img src="layout/image/footer/policy2.webp" alt="" />
            </span>
            <div class="title__policy">
              <span>Hỗ trợ 24/7</span>
              <p>Nhanh chóng thuận tiện</p>
            </div>
          </div>
          <div class="policy__item">
            <span class="img__policy">
              <img src="layout/image/footer/policy3.webp" alt="" />
            </span>
            <div class="title__policy">
              <span>Đổi trả 3 ngày</span>
              <p>Hấp dẫn chưa từng có</p>
            </div>
          </div>
          <div class="policy__item">
            <span class="img__policy">
              <img src="layout/image/footer/policy4.webp" alt="" />
            </span>
            <div class="title__policy">
              <span>Giá tiêu chuẩn</span>
              <p>Tiết kiệm 10% giá cả</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main__footer">
      <div class="container row">
        <div class="footer__left">
          <a href="#">
            <img src="layout/image/header/logo.png" alt="" />
          </a>
          <h4>Siêu thị nội thất Sáuke Furniture</h4>
          <div class="footer__hotline">
            <ul>
              <li>
                Trụ sở chính: 94 Trần Vĩ, Xã Ba Vì, Huyện Ba Vì, Hà Nội,
                Vietnam
              </li>
              <li>Hotline: 09xxxxxxxx</li>
              <li>Email: dualeotheme@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="footer__right row">
          <div class="footer__right--list">
            <h4>VỀ CHÚNG TÔI</h4>
            <div class="list__menu">
              <ul>
                <li><a href="#">Trang chủ</a></li>
                <li>
                  <a href="">Giới thiệu</a>
                </li>
                <li><a href="">Sản phẩm</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Liên hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="footer__right--list">
            <h4>TIN KHUYẾN MÃI</h4>
            <div class="list__menu">
              <ul>
                <li><a href="">Trang chủ</a></li>
                <li>
                  <a href="">Giới thiệu</a>
                </li>
                <li>
                  <a href="">Sản phẩm</a>
                </li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Liên hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="footer__right--list">
            <h4>TỔNG ĐÀI HỖ TRỢ</h4>
            <p>
              <span> 09xxxxxxxx </span>
            </p>
            <h4>NHẬN TIN KHUYẾN MÃI</h4>
          </div>
        </div>
      </div>
    </div>
  </footer>
<script src="layout/js/header.js"></script>
</body>
</html>