
.cart_header {
    max-width: 850px; 
    padding: 0 20px; 
    text-align: left;
    margin: 0 auto;
}

.cart_title {
    font-size: 24px;
    font-weight: bold;
}

.cart_container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #FFA500;
}

.cart_list {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #555;
    margin: 0 20px;
    padding: 0 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFA500;
}

.cart_item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #FFA500;
}

.remove_item {
    color: hsl(0, 0%, 72%);
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.product_image {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.product_name {
    width: 150px;
    color: #333;
    margin:0 50px;
}

.product_price, 
.button_increase, 
.product_total, 
.cart_footer .total_number {
    text-align: left;
    width: 120px; 
}



.product_price,
.product_total{
    margin: 0 25px;
    padding: 0 10px;
}

.product_total {
    margin-left: auto;
    text-align: right;
}

.button_increase input[type="number"] {
    margin: 0 10px;
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
}


.cart_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding-top: 15px;
    font-weight: bold;
    font-size: 18px;
}

.total_label {
    color: #333;
}

.total_number {
    color: #FFA500;
    margin-left: 5px;
}

.cart_button {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
}

.cart_button .continue_shopping, .cart_button .pay {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.continue_shopping {
    background-color: #ddd;
    color: #333;
}

.pay {
    background-color: #FFA500;
    color: #fff;
}

.pay:hover, .continue_shopping:hover {
    opacity: 0.5;
}