.about-section {
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    margin-top: 0 10px;
    font-family: Arial, sans-serif;
}

.about-title {
    color:#ffa500;
    font-size: 40px;
    transition: color 0.3s ease;
    cursor: pointer;
    text-align: center;
}
.main_title {
    color: var(--main-color-text);
    font-size: 24px;
    font-weight: bold;
}

.about-title:hover {
    color: var(--main-color-text);
    text-decoration: underline;
}

.about-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-section li {
    margin-bottom: 5px;
}
