:root {
  --main-font: "Product Sans";
  --main-color: #f7941d;
  --main-color-text: #252525;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Product Sans", sans-serif;
  color: #252525;
}

body header {
  padding: 0; 
}

li {
  list-style: none;
}
a {
  color: #252525;
  font-size: 13px;
  text-decoration: none;
  background: transparent;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.container_coppy{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  padding: 12px 0;
  align-items: center;
  display: block;
  width: 100%;
  z-index: 999;
}
input[type="search"] {
  width: 80%;
}
.header__top {
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 10px;
}
.header__top .header__top--logo {
  display: inline-block;
  margin-bottom: 10px;
  width: 25%;
}

.header__top .header__top--searchBar {
  width: 41.7%;
  padding-left: 20px;
  cursor: pointer;
}
.header__top .header__top--searchBar input {
  height: 40px;
  border: none;
  padding: 0 17px 0px 20px;
  background: #fff;
  font-size: 13px;
  border: 2px solid var(--main-color);
  border-right: 0;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.header__top .header__top--searchBar span {
  background: var(--main-color);
  padding: 18px;
  line-height: 30px;
  border-radius: 50%;
  margin-left: -20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.header__top .header__top--searchBar i {
  font-size: 18px;
  color: #fff;
  font-weight: 900;
}
.header__top .header__top--user {
  color: var(--main-color-text);
  font-size: 12px;
  margin: 0px 0px 0px 10px;
  /* line-height: 54px; */
}
.header__top .header__top--user .line {
  padding: 0;
  margin: 0px 10px 0px 10px;
  color: #c2c2c2;
  font-size: 14px;
  font-weight: bold;
}
.header__top .header__top--user .shopping--cart {
  color: #f7941d;
  padding-left: 10px;
  top: 5px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.header__top .header__top--user .shopping--cart span {
  position: absolute;
  left: 25px;
  top: -10px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #000084;
  border-radius: 50%;
}
.header__bottom .menu__cate {
  width: 23%;
  border: 1px solid #f7941d;
  background: #f7941d;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-family: var(--main-font);
  position: relative;
  cursor: pointer;
  padding: 8px 0px 8px 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
}
.header__bottom .menu__cate span {
  display: inline-block;
  font-weight: 700;
  position: relative;
}
.header__bottom .menu__cate p {
  margin: 0;
}
.header__bottom .menu__cate p span:first-child {
  padding: 0 5px;
}
.header__bottom .menu__cate .submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header__bottom .menu__cate .submenu li a {
  display: block;
  padding: 10px 15px;
  color: #333;
  background-color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.header__bottom .menu__cate .submenu li a:hover {
  background-color: #f7941d;
  color: #ffffff;
}
.header__bottom .menu__main {
  margin-left: 5%;
  width: 48%;
}
.header__bottom .menu__main ul li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}
.header__bottom .menu__main ul li a:hover {
  color: #f7941d;
  transition: color 0.3s;
}
.header__bottom .menu__main ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0;
  list-style: none;
  min-width: 150px;
  z-index: 1;
}
.header__bottom .menu__main ul li .submenu li {
  padding: 10px;
  display: block;
  white-space: nowrap;
}
.header__bottom .menu__main ul li .submenu li a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #f7941d;
  padding: 10px 15px;
  display: block;
}
.header__bottom .menu__main ul li .submenu li a:hover {
  color: #f7941d;
  transition: 0.3s;
}
.header__bottom .menu__main ul li:hover .submenu {
  display: block;
}
.header__bottom .menu__main ul li:first-child a {
  color: #f7941d;
}
.hotline {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
}
.hotline span {
  display: inline-block;
  padding-left: 10px;
  color: #000;
}
.hotline span i {
  font-size: 25px;
  color: #f7941d;
}
.hotline span:nth-child(2) {
  font-size: 14px;
  color: #252525;
}

.hotline span:last-child {
  font-size: 24px;
  color: #000084;
  cursor: pointer;
}
.hotline span:last-child:hover {
  color: #f7941d;
}